.background {background-color: lightpink;}

.font-size24 {font-size: 24px;}

#idblue {color: blue;font-size: 36px;}

.fontfam {font-family: Verdana, Geneva, Tahoma, sans-serif;}

#idLightGreenBackandBOLD {background-color: lightgreen; font-weight: bold;}

